<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Karl - Fashion Ecommerce Template | Home</title>

    <!-- Favicon  -->
    <link href="img/core-img/favicon.ico" rel="icon">

    <!-- Core Style CSS -->
    <link href="css/core-style.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">

</head>

<body>
<div class="catagories-side-menu">
    <!-- Close Icon -->
    <div id="sideMenuClose">
        <i class="ti-close"></i>
    </div>
    <!--  Side Nav  -->
    <div class="nav-side-menu">
        <div class="menu-list">
            <h6>Categories</h6>
            <ul class="menu-content collapse out" id="menu-content">
                <!-- Single Item -->
                <li class="collapsed active" data-target="#women" data-toggle="collapse">
                    <a href="#">Woman wear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="women">
                        <li><a href="#">Midi Dresses</a></li>
                        <li><a href="#">Maxi Dresses</a></li>
                        <li><a href="#">Prom Dresses</a></li>
                        <li><a href="#">Little Black Dresses</a></li>
                        <li><a href="#">Mini Dresses</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li class="collapsed" data-target="#man" data-toggle="collapse">
                    <a href="#">Man Wear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="man">
                        <li><a href="#">Man Dresses</a></li>
                        <li><a href="#">Man Black Dresses</a></li>
                        <li><a href="#">Man Mini Dresses</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li class="collapsed" data-target="#kids" data-toggle="collapse">
                    <a href="#">Children <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="kids">
                        <li><a href="#">Children Dresses</a></li>
                        <li><a href="#">Mini Dresses</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li class="collapsed" data-target="#bags" data-toggle="collapse">
                    <a href="#">Bags &amp; Purses <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="bags">
                        <li><a href="#">Bags</a></li>
                        <li><a href="#">Purses</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li class="collapsed" data-target="#eyewear" data-toggle="collapse">
                    <a href="#">Eyewear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="eyewear">
                        <li><a href="#">Eyewear Style 1</a></li>
                        <li><a href="#">Eyewear Style 2</a></li>
                        <li><a href="#">Eyewear Style 3</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li class="collapsed" data-target="#footwear" data-toggle="collapse">
                    <a href="#">Footwear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="footwear">
                        <li><a href="#">Footwear 1</a></li>
                        <li><a href="#">Footwear 2</a></li>
                        <li><a href="#">Footwear 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="wrapper">

    <!-- ****** Header Area Start ****** -->
    <header class="header_area">
        <!-- Top Header Area Start -->
        <div class="top_header_area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-end">

                    <div class="col-12 col-lg-7">
                        <div class="top_single_area d-flex align-items-center">
                            <!-- Logo Area -->
                            <div class="top_logo">
                                <a href="#"><img alt="" src="img/core-img/logo.png"></a>
                            </div>
                            <!-- Cart & Menu Area -->
                            <div class="header-cart-menu d-flex align-items-center ml-auto">
                                <!-- Cart Area -->
                                <div class="cart">
                                    <a href="#" id="header-cart-btn" target="_blank"><span
                                            class="cart_quantity">2</span> <i class="ti-bag"></i> Your Bag $20</a>
                                    <!-- Cart List Area Start -->
                                    <ul class="cart-list">
                                        <li>
                                            <a class="image" href="#"><img alt=""
                                                                           class="cart-thumb"
                                                                           src="img/product-img/product-10.jpg"></a>
                                            <div class="cart-item-desc">
                                                <h6><a href="#">Women's Fashion</a></h6>
                                                <p>1x - <span class="price">$10</span></p>
                                            </div>
                                            <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                        </li>
                                        <li>
                                            <a class="image" href="#"><img alt=""
                                                                           class="cart-thumb"
                                                                           src="img/product-img/product-11.jpg"></a>
                                            <div class="cart-item-desc">
                                                <h6><a href="#">Women's Fashion</a></h6>
                                                <p>1x - <span class="price">$10</span></p>
                                            </div>
                                            <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                        </li>
                                        <li class="total">
                                            <span class="pull-right">Total: $20.00</span>
                                            <a class="btn btn-sm btn-cart" href="cart.html">Cart</a>
                                            <a class="btn btn-sm btn-checkout" href="checkout-1.html">Checkout</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="header-right-side-menu ml-15">
                                    <a href="#" id="sideMenuBtn"><i aria-hidden="true" class="ti-menu"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Top Header Area End -->
        <div class="main_header_area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 d-md-flex justify-content-between">
                        <!-- Header Social Area -->
                        <div class="header-social-area">
                            <a href="#"><span class="karl-level">Share</span> <i aria-hidden="true"
                                                                                 class="fa fa-pinterest"></i></a>
                            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                            <a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a>
                        </div>
                        <!-- Menu Area -->
                        <div class="main-menu-area">
                            <nav class="navbar navbar-expand-lg align-items-start">

                                <button aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"
                                        class="navbar-toggler" data-target="#karl-navbar" data-toggle="collapse"
                                        type="button"><span class="navbar-toggler-icon"><i
                                        class="ti-menu"></i></span></button>

                                <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                    <ul class="navbar-nav animated" id="nav">
                                        <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                                        <li class="nav-item dropdown">
                                            <a aria-expanded="false" aria-haspopup="true"
                                               class="nav-link dropdown-toggle" data-toggle="dropdown"
                                               href="#" id="karlDropdown"
                                               role="button">Pages</a>
                                            <div aria-labelledby="karlDropdown" class="dropdown-menu">
                                                <a class="dropdown-item" href="index.html">Home</a>
                                                <a class="dropdown-item" href="shop.html">Shop</a>
                                                <a class="dropdown-item" href="product-details.html">Product Details</a>
                                                <a class="dropdown-item" href="cart.html">Cart</a>
                                                <a class="dropdown-item" href="checkout.html">Checkout</a>
                                            </div>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="#">Dresses</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#"><span
                                                class="karl-level">hot</span> Shoes</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Help Line -->
                        <div class="help-line">
                            <a href="tel:+346573556778"><i class="ti-headphone-alt"></i> +34 657 3556 778</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ****** Header Area End ****** -->

    <!-- ****** Top Discount Area Start ****** -->
    <section class="top-discount-area d-md-flex align-items-center">
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>Free Shipping &amp; Returns</h5>
            <h6><a href="#">BUY NOW</a></h6>
        </div>
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>20% Discount for all dresses</h5>
            <h6>USE CODE: Colorlib</h6>
        </div>
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>20% Discount for students</h5>
            <h6>USE CODE: Colorlib</h6>
        </div>
    </section>
    <!-- ****** Top Discount Area End ****** -->

    <!-- ****** Welcome Slides Area Start ****** -->
    <section class="welcome_area">
        <div class="welcome_slides owl-carousel">
            <!-- Single Slide Start -->
            <div class="single_slide height-800 bg-img background-overlay"
                 style="background-image: url(image_db/1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="welcome_slide_text">
                                <h6 data-animation="bounceInDown" data-delay="0" data-duration="500ms">* Only today we
                                    offer free shipping</h6>
                                <h2 data-animation="fadeInUp" data-delay="500ms" data-duration="500ms">Fashion
                                    Trends</h2>
                                <a class="btn karl-btn" data-animation="fadeInUp" data-delay="1s" data-duration="500ms"
                                   href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Slide Start -->
            <div class="single_slide height-800 bg-img background-overlay"
                 style="background-image: url(img/bg-img/bg-4.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="welcome_slide_text">
                                <h6 data-animation="fadeInDown" data-delay="0" data-duration="500ms">* Only today we
                                    offer free shipping</h6>
                                <h2 data-animation="fadeInUp" data-delay="500ms" data-duration="500ms">Summer
                                    Collection</h2>
                                <a class="btn karl-btn" data-animation="fadeInLeftBig" data-delay="1s"
                                   data-duration="500ms"
                                   href="#">Check Collection</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Slide Start -->
            <div class="single_slide height-800 bg-img background-overlay"
                 style="background-image: url(img/bg-img/bg-2.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="welcome_slide_text">
                                <h6 data-animation="fadeInDown" data-delay="0" data-duration="500ms">* Only today we
                                    offer free shipping</h6>
                                <h2 data-animation="bounceInDown" data-delay="500ms" data-duration="500ms">Women
                                    Fashion</h2>
                                <a class="btn karl-btn" data-animation="fadeInRightBig" data-delay="1s"
                                   data-duration="500ms"
                                   href="#">Check Collection</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****** Welcome Slides Area End ****** -->

    <!-- ****** Top Catagory Area Start ****** -->
    <section class="top_catagory_area d-md-flex clearfix">
        <!-- Single Catagory -->
        <div class="single_catagory_area d-flex align-items-center bg-img"
             style="background-image: url(img/bg-img/bg-2.jpg);">
            <div class="catagory-content">
                <h6>On Accesories</h6>
                <h2>Sale 30%</h2>
                <a class="btn karl-btn" href="#">SHOP NOW</a>
            </div>
        </div>
        <!-- Single Catagory -->
        <div class="single_catagory_area d-flex align-items-center bg-img"
             style="background-image: url(img/bg-img/bg-3.jpg);">
            <div class="catagory-content">
                <h6>in Bags excepting the new collection</h6>
                <h2>Designer bags</h2>
                <a class="btn karl-btn" href="#">SHOP NOW</a>
            </div>
        </div>
    </section>
    <!-- ****** Top Catagory Area End ****** -->

    <!-- ****** New Arrivals Area Start ****** -->
    <section class="new_arrivals_area section_padding_100_0 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading text-center">
                        <h2>New Arrivals</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="karl-projects-menu mb-100">
            <div class="text-center portfolio-menu">
                <button class="btn active" data-filter="*">ALL</button>
                <button class="btn" data-filter=".women">WOMAN</button>
                <button class="btn" data-filter=".man">MAN</button>
                <button class="btn" data-filter=".access">ACCESSORIES</button>
                <button class="btn" data-filter=".shoes">shoes</button>
                <button class="btn" data-filter=".kids">KIDS</button>
            </div>
        </div>

        <div class="container">
            <div class="row karl-new-arrivals">

                <!-- Single gallery Item Start -->
                <!--/*@thymesVar id="products" type="java.util.List<ProductEntity>"*/-->
                <!--/*@thymesVar id="mainImageByProductId" type="java.util.Map<Integer, ImageEntity>"*/-->
                <!--/*@thymesVar id="mainImageByProductId" type="java.util.Map<Integer, ImageEntity>"*/-->
                <tr th:each="product, index: ${products}">

                    <div class="col-12 col-sm-6 col-md-4 single_gallery_item women wow fadeInUpBig"
                         th:dir="'0.' + ${index.index} + 's'"
                         th:with="image=${mainImageByProductId.get(product.getId())},
                                  imagePath='image_db/' + ${image.getId()} + '.' + ${image.getExpansion()}
                                    ">

                        <!-- Product Image -->
                        <div class="product-img">
                            <img alt="" th:src="${imagePath}">
                            <div class="product-quicview">
                                <a data-target="#quickview"
                                   data-toggle="modal" href="#" th:onclick="${selectedProduct.clonWithEntity(product)}"><i
                                        class="ti-plus"></i></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price" th:text="${product.getPrice()} + ' грн.'">$39.90</h4>
                            <p th:text="${product.getMainName()}"></p>
                            <!-- Add to Cart -->
                            <a class="add-to-cart-btn" href="#">ADD TO CART</a>
                        </div>
                    </div>
                </tr>

                <!-- ****** Quick View Modal Area Start ****** -->
                <div aria-hidden="true" aria-labelledby="quickview" class="modal fade" id="quickview"
                     role="dialog" tabindex="-1"
                     >

                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <button aria-label="Close" class="close btn" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>

                            <div class="modal-body">
                                <div class="quickview_body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-lg-5">
                                                <div class="quickview_pro_img">
<!--                                                    <img alt="" src="${imagePath}">-->
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-7">
                                                <div class="quickview_pro_des">
                                                    <h4 class="title" th:text="${selectedProduct.getMainName()}">
                                                        Boutique
                                                        Silk Dress</h4>
                                                    <div class="top_seller_product_rating mb-15">
                                                        <i aria-hidden="true" class="fa fa-star"></i>
                                                        <i aria-hidden="true" class="fa fa-star"></i>
                                                        <i aria-hidden="true" class="fa fa-star"></i>
                                                        <i aria-hidden="true" class="fa fa-star"></i>
                                                        <i aria-hidden="true" class="fa fa-star"></i>
                                                    </div>
                                                    <h5 class="price" th:text="${selectedProduct.getPrice()} + 'грн.'">
                                                        price
                                                        <span>$130 discont</span></h5>
                                                    <p th:text="${selectedProduct.getDescription()}">description</p>
                                                    <a th:href="@{/productDetails(
                               productId=${selectedProduct.getId()})}">Детальніше</a>
                                                </div>
                                                <!-- Add to Cart Form -->
                                                <form class="cart" method="post">
                                                    <div class="quantity">

                                                        <input class="qty-text" id="qty" max="12" min="1"
                                                               name="quantity"
                                                               step="1"
                                                               type="number" value="1">

                                                        <span class="qty-plus"
                                                              onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i
                                                                aria-hidden="true"
                                                                class="fa fa-plus"></i></span>
                                                    </div>
                                                    <button class="cart-submit" name="addtocart" type="submit"
                                                            value="5">Add to
                                                        cart
                                                    </button>
                                                    <!-- Wishlist -->
                                                    <div class="modal_pro_wishlist">
                                                        <a href="wishlist.html" target="_blank"><i
                                                                class="ti-heart"></i></a>
                                                    </div>
                                                    <!-- Compare -->
                                                    <div class="modal_pro_compare">
                                                        <a href="compare.html" target="_blank"><i
                                                                class="ti-stats-up"></i></a>
                                                    </div>
                                                </form>

                                                <div class="share_wf mt-30">
                                                    <p>Share With Friend</p>
                                                    <div class="_icon">
                                                        <a href="#"><i aria-hidden="true"
                                                                       class="fa fa-facebook"></i></a>
                                                        <a href="#"><i aria-hidden="true"
                                                                       class="fa fa-twitter"></i></a>
                                                        <a href="#"><i aria-hidden="true"
                                                                       class="fa fa-pinterest"></i></a>
                                                        <a href="#"><i aria-hidden="true"
                                                                       class="fa fa-google-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ****** Quick View Modal Area End ****** -->
            </div>
        </div>
    </section>
    <!-- ****** New Arrivals Area End ****** -->
</div>
<!-- ****** Offer Area Start ****** -->
<section class="offer_area height-700 section_padding_100 bg-img"
         style="background-image: url(img/bg-img/bg-5.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-end justify-content-end">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="offer-content-area wow fadeInUp" data-wow-delay="1s">
                    <h2>White t-shirt <span class="karl-level">Hot</span></h2>
                    <p>* Free shipping until 25 Dec 2017</p>
                    <div class="offer-product-price">
                        <h3><span class="regular-price">$25.90</span> $15.90</h3>
                    </div>
                    <a class="btn karl-btn mt-30" href="#">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ****** Offer Area End ****** -->

<!-- ****** Popular Brands Area Start ****** -->
<section class="karl-testimonials-area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>Testimonials</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="karl-testimonials-slides owl-carousel">

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6>Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus
                            nulla quam, a iaculis justo finibus non. Suspendisse in fermentum nunc.Nunc pulvinar
                            molestie sem id blandit. Nunc venenatis interdum mollis. </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img alt="" src="img/bg-img/tes-1.jpg">
                            </div>
                            <div class="testi-data">
                                <p>Michelle Williams</p>
                                <span>Client, Los Angeles</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6>Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus
                            nulla quam, a iaculis justo finibus non. Suspendisse in fermentum nunc.Nunc pulvinar
                            molestie sem id blandit. Nunc venenatis interdum mollis. </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img alt="" src="img/bg-img/tes-1.jpg">
                            </div>
                            <div class="testi-data">
                                <p>Michelle Williams</p>
                                <span>Client, Los Angeles</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6>Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus
                            nulla quam, a iaculis justo finibus non. Suspendisse in fermentum nunc.Nunc pulvinar
                            molestie sem id blandit. Nunc venenatis interdum mollis. </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img alt="" src="img/bg-img/tes-1.jpg">
                            </div>
                            <div class="testi-data">
                                <p>Michelle Williams</p>
                                <span>Client, Los Angeles</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- ****** Popular Brands Area End ****** -->

<!-- ****** Footer Area Start ****** -->
<footer class="footer_area">
    <div class="container">
        <div class="row">
            <!-- Single Footer Area Start -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single_footer_area">
                    <div class="footer-logo">
                        <img alt="" src="img/core-img/logo.png">
                    </div>
                    <div class="copywrite_text d-flex align-items-center">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i aria-hidden="true"
                                                                                class="fa fa-heart-o"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
            <!-- Single Footer Area Start -->
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <div class="single_footer_area">
                    <ul class="footer_widget_menu">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- Single Footer Area Start -->
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <div class="single_footer_area">
                    <ul class="footer_widget_menu">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Our Policies</a></li>
                        <li><a href="#">Afiliates</a></li>
                    </ul>
                </div>
            </div>
            <!-- Single Footer Area Start -->
            <div class="col-12 col-lg-5">
                <div class="single_footer_area">
                    <div class="footer_heading mb-30">
                        <h6>Subscribe to our newsletter</h6>
                    </div>
                    <div class="subscribtion_form">
                        <form action="#" method="post">
                            <input class="mail" name="mail" placeholder="Your email here" type="email">
                            <button class="submit" type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>

        <!-- Footer Bottom Area Start -->
        <div class="footer_bottom_area">
            <div class="row">
                <div class="col-12">
                    <div class="footer_social_area text-center">
                        <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ****** Footer Area End ****** -->
<!-- /.wrapper end -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

</body>

</html>