<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Top Shop | Детальніше про товар</title>

    <!-- Favicon  -->
    <link href="img/core-img/favicon.ico" rel="icon">

    <!-- Core Style CSS -->
    <link href="css/core-style.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">

</head>

<body>
<!--<div class="catagories-side-menu">
    &lt;!&ndash; Close Icon &ndash;&gt;
    <div id="sideMenuClose">
        <i class="ti-close"></i>
    </div>
    &lt;!&ndash;  Side Nav  &ndash;&gt;
    <div class="nav-side-menu">
        <div class="menu-list">
            <h6>Categories</h6>
            <ul id="menu-content" class="menu-content collapse out">
                &lt;!&ndash; Single Item &ndash;&gt;
                <li data-toggle="collapse" data-target="#women" class="collapsed active">
                    <a href="#">Woman wear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="women">
                        <li><a href="#">Midi Dresses</a></li>
                        <li><a href="#">Maxi Dresses</a></li>
                        <li><a href="#">Prom Dresses</a></li>
                        <li><a href="#">Little Black Dresses</a></li>
                        <li><a href="#">Mini Dresses</a></li>
                    </ul>
                </li>
                &lt;!&ndash; Single Item &ndash;&gt;
                <li data-toggle="collapse" data-target="#man" class="collapsed">
                    <a href="#">Man Wear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="man">
                        <li><a href="#">Man Dresses</a></li>
                        <li><a href="#">Man Black Dresses</a></li>
                        <li><a href="#">Man Mini Dresses</a></li>
                    </ul>
                </li>
                &lt;!&ndash; Single Item &ndash;&gt;
                <li data-toggle="collapse" data-target="#kids" class="collapsed">
                    <a href="#">Children <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="kids">
                        <li><a href="#">Children Dresses</a></li>
                        <li><a href="#">Mini Dresses</a></li>
                    </ul>
                </li>
                &lt;!&ndash; Single Item &ndash;&gt;
                <li data-toggle="collapse" data-target="#bags" class="collapsed">
                    <a href="#">Bags &amp; Purses <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="bags">
                        <li><a href="#">Bags</a></li>
                        <li><a href="#">Purses</a></li>
                    </ul>
                </li>
                &lt;!&ndash; Single Item &ndash;&gt;
                <li data-toggle="collapse" data-target="#eyewear" class="collapsed">
                    <a href="#">Eyewear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="eyewear">
                        <li><a href="#">Eyewear Style 1</a></li>
                        <li><a href="#">Eyewear Style 2</a></li>
                        <li><a href="#">Eyewear Style 3</a></li>
                    </ul>
                </li>
                &lt;!&ndash; Single Item &ndash;&gt;
                <li data-toggle="collapse" data-target="#footwear" class="collapsed">
                    <a href="#">Footwear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="footwear">
                        <li><a href="#">Footwear 1</a></li>
                        <li><a href="#">Footwear 2</a></li>
                        <li><a href="#">Footwear 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>-->

<div id="wrapper">

    <!-- ****** Header Area Start ****** -->
    <header class="header_area bg-img background-overlay-white" style="background-image: url(img/bg-img/bg-1.jpg);">
        <!-- Top Header Area Start -->
        <div class="top_header_area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-end">

                    <div class="col-12 col-lg-7">
                        <div class="top_single_area d-flex align-items-center">
                            <!-- Logo Area -->
                            <div class="top_logo">
                                <a href="#"><img alt="" src="img/core-img/logo.png"></a>
                            </div>
                            <!-- Cart & Menu Area -->
                            <div class="header-cart-menu d-flex align-items-center ml-auto">
                                <!-- Cart Area -->
                                <div class="cart">
                                    <a href="#" id="header-cart-btn" target="_blank"><span
                                            class="cart_quantity">2</span> <i class="ti-bag"></i> Your Bag $20</a>
                                    <!-- Cart List Area Start -->
                                    <ul class="cart-list">
                                        <li>
                                            <a class="image" href="#"><img alt=""
                                                                           class="cart-thumb"
                                                                           src="img/product-img/product-10.jpg"></a>
                                            <div class="cart-item-desc">
                                                <h6><a href="#">Women's Fashion</a></h6>
                                                <p>1x - <span class="price">$10</span></p>
                                            </div>
                                            <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                        </li>
                                        <li>
                                            <a class="image" href="#"><img alt=""
                                                                           class="cart-thumb"
                                                                           src="img/product-img/product-11.jpg"></a>
                                            <div class="cart-item-desc">
                                                <h6><a href="#">Women's Fashion</a></h6>
                                                <p>1x - <span class="price">$10</span></p>
                                            </div>
                                            <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                        </li>
                                        <li class="total">
                                            <span class="pull-right">Total: $20.00</span>
                                            <a class="btn btn-sm btn-cart" href="cart.html">Cart</a>
                                            <a class="btn btn-sm btn-checkout" href="checkout-1.html">Checkout</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="header-right-side-menu ml-15">
                                    <a href="#" id="sideMenuBtn"><i aria-hidden="true" class="ti-menu"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Top Header Area End -->
        <div class="main_header_area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 d-md-flex justify-content-between">
                        <!-- Header Social Area -->
                        <div class="header-social-area">
                            <a href="#"><span class="karl-level">Share</span> <i aria-hidden="true"
                                                                                 class="fa fa-pinterest"></i></a>
                            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                            <a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a>
                        </div>
                        <!-- Menu Area -->
                        <div class="main-menu-area">
                            <nav class="navbar navbar-expand-lg align-items-start">

                                <button aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"
                                        class="navbar-toggler" data-target="#karl-navbar" data-toggle="collapse"
                                        type="button"><span class="navbar-toggler-icon"><i
                                        class="ti-menu"></i></span></button>

                                <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                    <ul class="navbar-nav animated" id="nav">
                                        <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                                        <li class="nav-item dropdown">
                                            <a aria-expanded="false" aria-haspopup="true"
                                               class="nav-link dropdown-toggle" data-toggle="dropdown"
                                               href="#" id="karlDropdown"
                                               role="button">Pages</a>
                                            <div aria-labelledby="karlDropdown" class="dropdown-menu">
                                                <a class="dropdown-item" href="index.html">Home</a>
                                                <a class="dropdown-item" href="shop.html">Shop</a>
                                                <a class="dropdown-item" href="product-details.html">Product Details</a>
                                                <a class="dropdown-item" href="cart.html">Cart</a>
                                                <a class="dropdown-item" href="checkout.html">Checkout</a>
                                            </div>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="#">Dresses</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#"><span
                                                class="karl-level">hot</span> Shoes</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Help Line -->
                        <div class="help-line">
                            <a href="tel:+346573556778"><i class="ti-headphone-alt"></i> +34 657 3556 778</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ****** Header Area End ****** -->

    <section class="top-discount-area d-md-flex align-items-center">
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>Free Shipping &amp; Returns</h5>
            <h6><a href="#">BUY NOW</a></h6>
        </div>
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>20% Discount for all dresses</h5>
            <h6>USE CODE: Colorlib</h6>
        </div>
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>20% Discount for students</h5>
            <h6>USE CODE: Colorlib</h6>
        </div>
    </section>

    <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area Start <<<<<<<<<<<<<<<<<<<< -->
    <div class="breadcumb_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb d-flex align-items-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Dresses</a></li>
                        <li class="breadcrumb-item active">Long Dress</li>
                    </ol>
                    <!-- btn -->
                    <a class="backToHome d-block" href="#"><i class="fa fa-angle-double-left"></i> Back to Category</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area End <<<<<<<<<<<<<<<<<<<< -->

    <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
    <section class="single_product_details_area section_padding_0_100">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="single_product_thumb">
                        <div class="carousel slide" data-ride="carousel" id="product_details_slider">
                            <ol class="carousel-indicators">
                                <tr th:each="image, index : ${images}">
                                    <li th:if="${index.index == 0}" class="active" data-target="#product_details_slider"
                                        th:dir="${index.index}"
                                        th:style="'background-image: url(image_db/' + ${image.getId()} + '.' + ${image.getExpansion()} +');'">
                                    </li>
                                    <li th:if="not ${index.index == 0}" data-target="#product_details_slider"
                                        th:dir="${index.index}"
                                        th:style="'background-image: url(image_db/' + ${image.getId()} + '.' + ${image.getExpansion()} +');'">
                                    </li>
                                </tr>
                            </ol>

                            <div class="carousel-inner">
                                <tr th:each="image : ${images}">
                                    <span th:switch="${image.getMainImage()}">
                                    <div th:case="true" class="carousel-item active"
                                         th:with="imagePath = ${'image_db/' + image.getId() + '.' + image.getExpansion()}">
                                        <a class="gallery_img" th:href="${imagePath}">
                                            <img alt="First slide" class="d-block w-100"
                                                 th:src="${imagePath}">
                                        </a>
                                    </div>
                                    <div th:case="false" class="carousel-item"
                                         th:with="imagePath = ${'image_db/' + image.getId() + '.' + image.getExpansion()}">
                                        <a class="gallery_img" th:href="${imagePath}">
                                            <img alt="First slide" class="d-block w-100"
                                                 th:src="${imagePath}">
                                        </a>
                                    </div>
                                    </span>
                                </tr>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="single_product_desc">

                        <h4 class="title"><a href="#">Long Yellow Dress</a></h4>

                        <h4 class="price">$ 39.99</h4>

                        <p class="available">Available: <span class="text-muted">In Stock</span></p>

                        <div class="single_product_ratings mb-15">
                            <i aria-hidden="true" class="fa fa-star"></i>
                            <i aria-hidden="true" class="fa fa-star"></i>
                            <i aria-hidden="true" class="fa fa-star"></i>
                            <i aria-hidden="true" class="fa fa-star"></i>
                            <i aria-hidden="true" class="fa fa-star-o"></i>
                        </div>

                        <div class="widget size mb-50">
                            <h6 class="widget-title">Size</h6>
                            <div class="widget-desc">
                                <ul>
                                    <li><a href="#">32</a></li>
                                    <li><a href="#">34</a></li>
                                    <li><a href="#">36</a></li>
                                    <li><a href="#">38</a></li>
                                    <li><a href="#">40</a></li>
                                    <li><a href="#">42</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Add to Cart Form -->
                        <form class="cart clearfix mb-50 d-flex" method="post">
                            <div class="quantity">
                                <span class="qty-minus"
                                      onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i
                                        aria-hidden="true" class="fa fa-minus"></i></span>
                                <input class="qty-text" id="qty" max="12" min="1" name="quantity" step="1" type="number"
                                       value="1">
                                <span class="qty-plus"
                                      onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i
                                        aria-hidden="true" class="fa fa-plus"></i></span>
                            </div>
                            <button class="btn cart-submit d-block" name="addtocart" type="submit" value="5">Add to
                                cart
                            </button>
                        </form>

                        <div id="accordion" role="tablist">
                            <div class="card">
                                <div class="card-header" id="headingOne" role="tab">
                                    <h6 class="mb-0">
                                        <a aria-controls="collapseOne" aria-expanded="true" data-toggle="collapse"
                                           href="#collapseOne">Information</a>
                                    </h6>
                                </div>

                                <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion"
                                     id="collapseOne"
                                     role="tabpanel">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra
                                            tempor so dales. Phasellus sagittis auctor gravida. Integ er bibendum
                                            sodales arcu id te mpus. Ut consectetur lacus.</p>
                                        <p>Approx length 66cm/26" (Based on a UK size 8 sample) Mixed fibres</p>
                                        <p>The Model wears a UK size 8/ EU size 36/ US size 4 and her height is 5'8"</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo" role="tab">
                                    <h6 class="mb-0">
                                        <a aria-controls="collapseTwo" aria-expanded="false" class="collapsed"
                                           data-toggle="collapse" href="#collapseTwo">Cart Details</a>
                                    </h6>
                                </div>
                                <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion"
                                     id="collapseTwo"
                                     role="tabpanel">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quis in
                                            veritatis officia inventore, tempore provident dignissimos nemo, nulla
                                            quaerat. Quibusdam non, eos, voluptatem reprehenderit hic nam! Laboriosam,
                                            sapiente! Praesentium.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magnam
                                            laborum eaque.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree" role="tab">
                                    <h6 class="mb-0">
                                        <a aria-controls="collapseThree" aria-expanded="false" class="collapsed"
                                           data-toggle="collapse" href="#collapseThree">shipping &amp;
                                            Returns</a>
                                    </h6>
                                </div>
                                <div aria-labelledby="headingThree" class="collapse" data-parent="#accordion"
                                     id="collapseThree"
                                     role="tabpanel">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quo sint
                                            repudiandae suscipit ab soluta delectus voluptate, vero vitae, tempore
                                            maxime rerum iste dolorem mollitia perferendis distinctio. Quibusdam
                                            laboriosam rerum distinctio. Repudiandae fugit odit, sequi id!</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae qui maxime
                                            consequatur laudantium temporibus ad et. A optio inventore deleniti
                                            ipsa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->

    <!-- ****** Quick View Modal Area Start ****** -->
    <div aria-hidden="true" aria-labelledby="quickview" class="modal fade" id="quickview" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <button aria-label="Close" class="close btn" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="quickview_body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-5">
                                    <div class="quickview_pro_img">
                                        <img alt="" src="img/product-img/product-1.jpg">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-7">
                                    <div class="quickview_pro_des">
                                        <h4 class="title">Boutique Silk Dress</h4>
                                        <div class="top_seller_product_rating mb-15">
                                            <i aria-hidden="true" class="fa fa-star"></i>
                                            <i aria-hidden="true" class="fa fa-star"></i>
                                            <i aria-hidden="true" class="fa fa-star"></i>
                                            <i aria-hidden="true" class="fa fa-star"></i>
                                            <i aria-hidden="true" class="fa fa-star"></i>
                                        </div>
                                        <h5 class="price">$120.99 <span>$130</span></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia expedita
                                            quibusdam aspernatur, sapiente consectetur accusantium perspiciatis
                                            praesentium eligendi, in fugiat?</p>
                                        <a href="#">View Full Product Details</a>
                                    </div>
                                    <!-- Add to Cart Form -->
                                    <form class="cart" method="post">
                                        <div class="quantity">
                                            <span class="qty-minus"
                                                  onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i
                                                    aria-hidden="true" class="fa fa-minus"></i></span>

                                            <input class="qty-text" id="qty2" max="12" min="1" name="quantity" step="1"
                                                   type="number" value="1">

                                            <span class="qty-plus"
                                                  onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i
                                                    aria-hidden="true" class="fa fa-plus"></i></span>
                                        </div>
                                        <button class="cart-submit" name="addtocart" type="submit" value="5">Add to
                                            cart
                                        </button>
                                        <!-- Wishlist -->
                                        <div class="modal_pro_wishlist">
                                            <a href="wishlist.html" target="_blank"><i class="ti-heart"></i></a>
                                        </div>
                                        <!-- Compare -->
                                        <div class="modal_pro_compare">
                                            <a href="compare.html" target="_blank"><i class="ti-stats-up"></i></a>
                                        </div>
                                    </form>

                                    <div class="share_wf mt-30">
                                        <p>Share With Friend</p>
                                        <div class="_icon">
                                            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                                            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                                            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
                                            <a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ****** Quick View Modal Area End ****** -->

    <section class="you_may_like_area clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading text-center">
                        <h2>related Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="you_make_like_slider owl-carousel">

                        <!-- Single gallery Item -->
                        <div class="single_gallery_item">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img alt="" src="img/product-img/product-1.jpg">
                                <div class="product-quicview">
                                    <a data-target="#quickview" data-toggle="modal" href="#"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                                <!-- Add to Cart -->
                                <a class="add-to-cart-btn" href="#">ADD TO CART</a>
                            </div>
                        </div>

                        <!-- Single gallery Item -->
                        <div class="single_gallery_item">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img alt="" src="img/product-img/product-2.jpg">
                                <div class="product-quicview">
                                    <a data-target="#quickview" data-toggle="modal" href="#"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                                <!-- Add to Cart -->
                                <a class="add-to-cart-btn" href="#">ADD TO CART</a>
                            </div>
                        </div>

                        <!-- Single gallery Item -->
                        <div class="single_gallery_item">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img alt="" src="img/product-img/product-3.jpg">
                                <div class="product-quicview">
                                    <a data-target="#quickview" data-toggle="modal" href="#"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                                <!-- Add to Cart -->
                                <a class="add-to-cart-btn" href="#">ADD TO CART</a>
                            </div>
                        </div>

                        <!-- Single gallery Item -->
                        <div class="single_gallery_item">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img alt="" src="img/product-img/product-4.jpg">
                                <div class="product-quicview">
                                    <a data-target="#quickview" data-toggle="modal" href="#"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                                <!-- Add to Cart -->
                                <a class="add-to-cart-btn" href="#">ADD TO CART</a>
                            </div>
                        </div>

                        <!-- Single gallery Item -->
                        <div class="single_gallery_item">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img alt="" src="img/product-img/product-5.jpg">
                                <div class="product-quicview">
                                    <a data-target="#quickview" data-toggle="modal" href="#"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                                <!-- Add to Cart -->
                                <a class="add-to-cart-btn" href="#">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ****** Footer Area Start ****** -->
    <footer class="footer_area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Area Start -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single_footer_area">
                        <div class="footer-logo">
                            <img alt="" src="img/core-img/logo.png">
                        </div>
                        <div class="copywrite_text d-flex align-items-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved | This template is made with <i aria-hidden="true"
                                                                                    class="fa fa-heart-o"></i> by <a
                                        href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Area Start -->
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="single_footer_area">
                        <ul class="footer_widget_menu">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Area Start -->
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="single_footer_area">
                        <ul class="footer_widget_menu">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Our Policies</a></li>
                            <li><a href="#">Afiliates</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Area Start -->
                <div class="col-12 col-lg-5">
                    <div class="single_footer_area">
                        <div class="footer_heading mb-30">
                            <h6>Subscribe to our newsletter</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="#" method="post">
                                <input class="mail" name="mail" placeholder="Your email here" type="email">
                                <button class="submit" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>

            <!-- Footer Bottom Area Start -->
            <div class="footer_bottom_area">
                <div class="row">
                    <div class="col-12">
                        <div class="footer_social_area text-center">
                            <a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
                            <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                            <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                            <a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ****** Footer Area End ****** -->
</div>
<!-- /.wrapper end -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

</body>

</html>